{% extends "base.html" %}

{% block titulo %}Resultado - USDA{% endblock %}

{% block contenido %}

<div class="container text-center">

    <header class="bg-warning text-dark py-6 mt-6">
        <div class="container text-center">
            <h1 class="fw-bold">Resultado de búsqueda</h1>

<div class="card shadow border-0 mx-auto" style="max-width: 700px;">
    <div class="card-body">

        <h3 class="text-primary fw-bold">{{ food.description }}</h3>

        <p><strong>ID (FDC):</strong> {{ food.fdcId }}</p>
        <p><strong>Marca:</strong> {{ food.brandOwner }}</p>
        <p><strong>Score:</strong> {{ food.score }}</p>

        <hr>

        <h4 class="mb-3">Nutrientes</h4>

        {% if food.nutrients %}
            <ul class="list-group">
                {% for n in food.nutrients %}
                <li class="list-group-item">
                    <strong>{{ n.nutrientName }}:</strong> {{ n.value }} {{ n.unitName }}
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay información nutricional disponible.</p>
        {% endif %}

<a href="{{ url_for('index') }}" class="btn btn-primary">Buscar otro alimento</a>


    </div>
</div>

        </div>
    </header>
</div>

{% endblock %}