{% extends "base.html" %}

{% block contenido %}

<div class="container mt-5">

    <h1 class="text-primary">Tu Perfil</h1>
    <hr>

    <p><strong>Edad:</strong> {{ usuario.edad }}</p>
    <p><strong>Peso:</strong> {{ usuario.peso }} kg</p>
    <p><strong>Altura:</strong> {{ usuario.altura }} cm</p>
    <p><strong>Actividad física:</strong> {{ usuario.actividad }}</p>
    <p><strong>Género:</strong> {{ usuario.genero }}</p>

    <p><strong>Correo registrado:</strong> {{ usuario.email }}</p>

</div>

{% endblock %}
