{% extends "base.html" %}

{% block contenido %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


<div class="container text-center">

    <header class="bg-warning text-dark py-6 mt-6">
        <div class="container text-center">
            <h1 class="fw-bold">Recetas Fáciles, Sanas, Rápidas y Económicas</h1>

            <p>Aqui encontraras 20 recetas saludables, baratas y faciles de prepara para mejorar tu alimentacion a mejor dicho cumplir cualquiera que sea tu objetivo</p>

<section class="container my-4">
    <div class="row g-4">  

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/chuletas-manzana-1-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Chuletas de lomo de cerdo con manzana, receta fácil y barata sin horno</h5>
                    <p class="card-text">Cómo preparar chuletas de lomo de cerdo bien doraditas con salsa de sidra y canela servidas con manzanas y cebollas salteadas en mantequilla.</p>
                    <a href="{{ url_for('static', filename='imagenes/1.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/conejo-cebolla-1-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Conejo con cebolla en Robot de cocina Trending Cooking, receta mallorquina fácil</h5>
                    <p class="card-text">Cómo preparar la receta tradicional mallorquina de conejo con cebolla usando un robot de cocina. Plato principal muy fácil, rápido y saludable.</p>
                    <a href="{{ url_for('static', filename='imagenes/2.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/brocheta-pollo-2-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Brocheta o pincho de pollo caprese</h5>
                    <p class="card-text">Pincho casero de pollo, tomate cherry, con mozzarella y albahaca frescas. Una brocheta sencilla, ligera y saludable pero llena de sabor ¡baja en calorías!</p>
                    <a href="{{ url_for('static', filename='imagenes/3.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/pollo-horno-hierbas-3-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Pollo al horno con hierbas provenzales</h5>
                    <p class="card-text">Preparar pollo asado con hierbas provenzales es muy rápido, pues de forma sencilla conseguiremos un pollo de lo más jugoso y aromático.</p>
                    <a href="{{ url_for('static', filename='imagenes/4.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/pollo-naranja-chino-5-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Pollo a la Naranja estilo chino</h5>
                    <p class="card-text">Cómo hacer pollo ala naranja de forma fácil, rápida, saludable y bajo en calorías. Un plato principal muy sabroso al estilo chino. Receta de pollo sin horno.</p>
                    <a href="{{ url_for('static', filename='imagenes/5.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/fajitas-pollo-4-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Fajitas de pollo fáciles</h5>
                    <p class="card-text">Cómo preparar fajitas de pollo con pimiento y cebolla de forma muy fácil y rápida. Una cena sencilla, ligera y saludable perfecta para compartir.</p>
                    <a href="{{ url_for('static', filename='imagenes/6.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/sandwich-pollo-400x268.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Cómo hacer un buen sándwich de pollo</h5>
                    <p class="card-text">Receta, trucos y consejos para hacer el mejor y más sabroso sándwich de pollo. Además podrás tomarlo frío o templado. ¡Sabroso y saludable!</p>
                    <a href="{{ url_for('static', filename='imagenes/7.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/aguacate-relleno-pollo-1-400x268.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Aguacate relleno de pollo</h5>
                    <p class="card-text">Cómo preparar aguacates rellenos de ensalada de pollo. Un aperitivo o primer plato ligero y muy fácil y rápido de preparar. Una receta perfecta para aprovechar sobras de pollo.</p>
                    <a href="{{ url_for('static', filename='imagenes/8.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/guiso-pollo-garbanzos-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Guiso de pollo con garbanzos</h5>
                    <p class="card-text">Cómo preparar un sabroso guiso de pollo con garbanzos y verduras de forma fácil, rápida y barata. Receta explicada paso a paso.</p>
                    <a href="{{ url_for('static', filename='imagenes/9.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/albondiga-pollo-curry-4-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Albóndigas de pollo y pavo al curry</h5>
                    <p class="card-text">Cómo preparar albóndigas de pollo y/o pavo al curry con leche de coco de forma fácil y rápida en una Olla GM o de forma tradicional. Trucos para un resultado jugoso</p>
                    <a href="{{ url_for('static', filename='imagenes/10.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/Albondigas-con-guisantes-2-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Albóndigas con guisantes y salsa de tomate</h5>
                    <p class="card-text">Cómo preparar de forma fácil unas saludables albóndigas con guisantes y salsa de tomate. Una receta tradicional explicada paso a paso.</p>
                    <a href="{{ url_for('static', filename='imagenes/11.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/hamburguesa-ternera-3-400x261.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Hamburguesas caseras de carne picada o molida</h5>
                    <p class="card-text">Cómo preparar hamburguesas caseras de forma fácil y rápida con carne de ternera, pollo, pavo o cerdo. Trucos para aliñar la carne y que queden jugosas y sabrosas.</p>
                    <a href="{{ url_for('static', filename='imagenes/12.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/hamburguesa-pollo-champi-2-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Hamburguesas de pollo y champiñones</h5>
                    <p class="card-text">Cómo hacer hamburguesas caseras de pollo y champiñones. Una receta muy fácil y saludable.</p>
                    <a href="{{ url_for('static', filename='imagenes/13.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/merluza-salsa-tomate-4-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Cómo hacer Merluza en Salsa de Tomate</h5>
                    <p class="card-text">Cómo preparar merluza en salsa de tomate con cebolla de forma muy fácil y rápida. Receta saludable de pescado en 20 minutos.</p>
                    <a href="{{ url_for('static', filename='imagenes/14.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/pescado-frito-air-fryer-400x303.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Pescado empanado crujiente en freidora de aire</h5>
                    <p class="card-text">Cómo conseguir un pescado frito muy crujiente sin utilizar aceite con una freidora de aire. Saludable, ligero y muy fácil de elaborar.</p>
                    <a href="{{ url_for('static', filename='imagenes/15.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/salmon-con-granada-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Salmón con espárragos y salsa de granada</h5>
                    <p class="card-text">Cómo preparar de forma muy fácil y rápida salmón con espárragos y salsa de granada. Una receta muy saludable ideal para la cena.</p>
                    <a href="{{ url_for('static', filename='imagenes/16.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/salmon-vapor-8-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Salmón al vapor con salsa cremosa de eneldo</h5>
                    <p class="card-text">Cómo cocinar salmón al vapor en el microondas con salsa de yogur y eneldo. Una receta sana muy fácil y rápida de preparar que tendrás lista en menos de 10 minutos.</p>
                    <a href="{{ url_for('static', filename='imagenes/17.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/guiso-sepia-con-patatas-1-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Guiso de sepia con papas</h5>
                    <p class="card-text">Cómo preparar guiso de sepia muy fácil. Receta paso a paso muy fácil de guiso con sepia.</p>
                    <a href="{{ url_for('static', filename='imagenes/18.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/hamburguesas-salmon-5-400x267.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Hamburguesas de salmón</h5>
                    <p class="card-text">Cómo hacer hamburguesas de salmón en solo 10 minutos. Receta muy sencilla y saludable de pescado para niños y adultos.</p>
                    <a href="{{ url_for('static', filename='imagenes/19.png') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='imagenes/dorada-a-la-sal-400x268.webp') }}">
                <div class="card-body">
                    <h5 class="card-title">Dorada a la sal en olla lenta</h5>
                    <p class="card-text">Cómo cocinar dorada a la sal en olla lenta de forma muy fácil, limpia y sin olores a pescado. Una receta saludable para disfrutar.</p>
                    <a href="{{ url_for('static', filename='imagenes/Dorada.jpg') }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>

    </div>
</section>


            </div>
    </header>
</div>

{% endblock %}